@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.header-gral, .header-contact, .header-admin {
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/headers/header-home.jpg);
}

.header-admin {
  background-image: url(../img/headers/header2.jpg);
}

.header-contact {
  background-image: url(../img/headers/header3.jpg);
}

.txt-box {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  color: gray;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

.txt-bold {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  color: black;
  padding: 30px;
  margin: 5px;
  text-align: left;
  font-weight: 700;
}

.bg-violet {
  background-color: #7f3472;
}

.bg-pink {
  background-color: #dfa1d4;
}

.box-shadow {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.box {
  width: 100vw;
  height: 95vh;
  background-color: grey;
}

.text-1 {
  font-size: 0.25em;
}

.text-2 {
  font-size: 0.5em;
}

.text-3 {
  font-size: 0.75em;
}

.text-4 {
  font-size: 1em;
}

.text-5 {
  font-size: 1.25em;
}

.text-6 {
  font-size: 1.5em;
}

.text-7 {
  font-size: 1.75em;
}

.text-8 {
  font-size: 2em;
}

.text-9 {
  font-size: 2.25em;
}

.text-10 {
  font-size: 2.5em;
}

.facebook-icon {
  background-image: url(../img/icons/facebook.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style: none;
  margin-right: 6px;
}

.twitter-icon {
  background-image: url(../img/icons/twitter.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style: none;
  margin-right: 6px;
}

.instagram-icon {
  background-image: url(../img/icons/instagram.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style: none;
  margin-right: 6px;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* selectores generales a todo el proyecto */
h1, h2, h3, h4 {
  color: rgb(73, 27, 55);
}

h1 {
  font-size: 3em;
  margin-bottom: 10px 0;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 300;
}

header img {
  width: 100%;
}

.card h2 {
  color: rgb(73, 27, 55);
}

/*  ========= footer ========= */
footer {
  background-color: rgb(73, 27, 55);
  padding: 8px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer a {
  text-decoration: none;
}
footer svg {
  width: 30px;
  height: 30px;
  fill: white;
  margin-right: 10px;
}
footer ul li {
  list-style-type: none;
}
footer a {
  color: rgb(238, 233, 233);
  text-decoration: none;
  font-weight: 300;
}

/* utilities del proyecto */
.text-dark {
  color: rgb(94, 95, 95);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: 600;
}

.bg-gris {
  background-color: rgb(243, 245, 245);
}

.bg-pink {
  background-color: rgb(73, 27, 55);
  color: rgb(238, 233, 233);
}

.container {
  background-color: pink;
  width: 90%;
  height: auto;
  overflow-y: auto;
  margin: 20px auto;
  padding: 20px 30px;
  border: solid 1px rgb(181, 179, 179);
}

.box-top {
  padding: 4px 0;
  text-align: center;
  color: gray;
  font-size: 0.9em;
}

.box-divider {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(73, 27, 55);
}

.box-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-image: url(../img/backgrounds/bubble.png);
}

.botonera {
  background-color: rgb(73, 27, 55);
}
.botonera img {
  width: 150px;
}
.botonera a {
  color: rgb(238, 233, 233);
}
.botonera a:hover {
  color: rgb(73, 27, 55);
}

/* =============== BEM (nosotros) =============== */
.about {
  padding: 10px 30px;
}
.about__box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about__box--reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.about__header--left {
  text-align: left;
  margin: 10px 0;
}
.about__text--md {
  font-size: 1.1em;
}
.about__link--left {
  display: block;
  text-align: left;
  color: rgb(73, 27, 55);
  text-decoration: none;
  font-size: 1.2em;
  margin: 10px 0;
}
.about__list--gray {
  color: gray;
  list-style: square;
  padding-left: 80px;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
  margin: 10px 0;
}

/* ========= PRODUCTOS DESTACADOS DE LA HOME ========= */
.products-home {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-home figure {
  width: 30%;
  border: solid 1px pink;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products-home figure figcaption {
  color: rgb(73, 27, 55);
  font-size: 1.4em;
}
.products-home figure p {
  text-align: center;
}
.products-home figure button {
  border: none;
  background-color: rgb(73, 27, 55);
  padding: 6px;
  color: white;
  border-radius: 4px;
  margin: 10px 0;
}
.products-home figure button:hover {
  cursor: pointer;
  background-color: rgb(73, 27, 55);
}

/* TIENDA CON GRID */
.tienda {
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr);
  grid-template-rows: 80px repeat(3, 300px);
  grid-template-areas: "actions actions actions" "filters prod1 prod1" "filters prod2 prod3" "filters prod2 prod4";
  gap: 5px;
  padding: 20px;
}
.tienda .filters {
  padding: 0 20px 30px 30px;
  grid-area: filters;
}
.tienda .filters a {
  color: rgb(134, 130, 132);
  font-size: 0.9em;
  text-decoration: none;
  margin-bottom: 4px;
  text-transform: lowercase;
}
.tienda .filters a:hover {
  color: deeppink;
}
.tienda .filters span {
  display: block;
  color: rgb(0, 0, 0);
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 0.8em;
  font-weight: 300;
}
.tienda .filters label {
  font-size: 0.8em;
  font-weight: 300;
}
.tienda .filters select {
  color: deeppink;
  border: none;
  background-color: white;
  margin-bottom: 10px;
  font-size: 1em;
}
.tienda .filters li {
  padding-left: 10px;
  list-style: none;
}
.tienda .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
  padding: 0 30px;
  grid-area: actions;
}
.tienda .actions button {
  margin-left: 10px;
  background-color: deeppink;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 3px;
}
.tienda .actions button:hover {
  cursor: pointer;
  background-color: pink;
}
.tienda .actions input {
  padding: 6px;
  border-radius: 3px;
  border: none;
  background-color: rgb(243, 245, 245);
}
.tienda .prod1 {
  grid-area: prod1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}
.tienda .prod1 p {
  width: 60%;
  margin-left: 20px;
}
.tienda .prod2 {
  grid-area: prod2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}
.tienda .prod3 {
  grid-area: prod3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tienda .prod4 {
  grid-area: prod4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tienda section {
  border-radius: 10px;
}

/* ==== inicia responsive ======= */
@media (width < 1024px) {
  .products-home figure {
    width: 48%;
  }
}
@media (width < 768px) {
  /* nav */
  nav {
    flex-direction: column;
  }
  /* headings */
  main h2 {
    font-weight: 300;
    margin-top: 10px;
  }
  /* footer */
  footer {
    flex-direction: column;
  }
  footer div:first-child {
    margin-top: 6px;
    color: rgb(73, 27, 55);
  }
  footer div:nth-child(3) {
    margin-top: 10px;
  }
  /* index */
  .products-home figure,
  .products-home figure button {
    width: 100%;
  }
  /* nosotros */
  .about__box,
  .about__box--reverse {
    flex-direction: column;
  }
  /* tienda */
  .tienda {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "actions" "filters" "prod1" "prod2" "prod3" "prod4";
    gap: 10px;
  }
  .tienda .actions {
    justify-content: center;
  }
  .tienda .filters span,
  .tienda .filters ul,
  .tienda .filters label,
  .tienda .filters input[type=checkbox] {
    display: none;
  }
  .tienda select {
    background-color: rgb(243, 245, 245);
    width: 100%;
    padding: 6px;
  }
  .tienda .prod1 {
    flex-direction: column;
  }
  .tienda .prod1 p,
  .tienda .prod2 p {
    width: 100%;
    font-size: 1em;
    line-height: 1.2em;
    padding-bottom: 10px;
  }
  .tienda .prod1,
  .tienda .prod2 {
    padding: 0 10px;
  }
}

/*# sourceMappingURL=main.css.map */
