// nesting
.botonera{
    background-color: $mainColor;
    img{
        width: 150px;
    }
    a{
        color: $white;
        &:hover{
            color: $mainColor;
        }
    }
}

