// variables

//esquema de color
$mainColor:rgb(248, 35, 149);
$secondaryColor:rgb(64, 62, 62);
$keyColor:rgb(11, 11, 11);
$white:rgb(238, 233, 233);

//fonts
$mainFont:'Roboto', sans-serif;

//sizes textos
$textSm:0.8em;
$textMd:1em;
$textXl:2em;
$textXxL:3em;

//fontweight
$fontLight:300;
$fontRegular:400;
$fontBold:600;

//sizes boxes
$width:100vw;
$height:100vh;

